<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- TODO: Prune this list when we are satisfied -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">
    <title>Flipping Game</title>
</head>
<body>
    <div id="main"></div>
</body>
<template id="welcome-screen-template">
    <div id="welcome-screen">
        <div class="welcome-text-container">
            <h2 class="header">Flipping Game!</h2>
            <small>A game inspired by problem 459 from Project Euler</small>
            <br />
            <br />
            <a href="https://projecteuler.net/problem=459" target="_blank">Project Euler Problem #459</a>
        </div>
        <div class="new-game-options-container">
            <button id="new-game">New Game</button>
            <button id="new-online-game">Play Vs. Friends Online</button>
        </div>
    </div>
</template>
<template id="create-game-screen-template">
    <div id="create-game-screen">
        <h2>Share this code with your friend</h2>
        <input id="my-code-input" type="text" readonly />
        <h2>Paste the code from your friend below</h2>
        <input id="friend-code-input" type="text" />
        <button id="submit-code">Play!</button>
    </div>
</template>

<template id="join-game-screen-template">
    <div id="join-game-screen">
        <div>
            <h2>Paste the code from your friend below</h2>
            <input id="join-game-friend-code-input" type="text"/>
        </div>
        <button id="submit-friend-code-button">Submit Code</button>
        <div id="my-code-input-container">
            <h2>Send the below code to your friend</h2>
            <input id="my-code-input" type="text" readonly />
        </div>
    </div>
</template>

<template id="game-screen-template">
    <input id="flip-region-btn" type="button" value="Select Region" />
    <br />
    <canvas id="canvas" width="1000" height="1000"></canvas>
    <ul>
        <li id="rule-TopRightPieceMustNotBeFlipped">The top-right corner must not be flipped</li>
        <li id="rule-WidthMustBeSquare">The width must be a perfect square (1, 4, 9, 16, ...)</li>
        <li id="rule-HeightMustBeTriangular">The height must be triangular (1, 3, 6, 10, ...)</li>
    </ul>
</template>
</html>
