<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        html {
            background: #fff;
        }
        #canvas {
            margin: 20px 0 0 20px;
        }
    </style>
</head>
<body>
    <div id="main">
        <input id="select-region-btn" type="button" value="Select Region" />
        <br />
        <canvas id="canvas" width="1000" height="1000"></canvas>
    </div>
</body>
</html>
