<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        html {
            background: #fff;
        }
        #canvas {
            margin: 20px 0 0 20px;
        }
    </style>
</head>
<body>
    <div id="main">
        <input id="select-region-btn" type="button" value="Select Region" />
        <br />
        <canvas id="canvas" width="1000" height="1000"></canvas>
        <ul>
            <li id="rule-TopRightPieceMustNotBeFlipped">The top-right corner must not be flipped</li>
            <li id="rule-WidthMustBeSquare">The width must be a perfect square (1, 4, 9, 16, ...)</li>
            <li id="rule-HeightMustBeTriangular">The height must be triangular (1, 3, 6, 10, ...)</li>
        </ul>
    </div>
</body>
</html>
