html, body, #main {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background: #fff;
    width: 100%;
    height: 100%;
}

h1, h2, h3 {
    color: #293742;
}

button {
    border: 0;
    font-weight: bold;
    height: 3rem;
    width: 16rem;
    background-color: #2B95D6;
    letter-spacing: .1rem;
    text-transform: uppercase;
    color: #F5F8FA;
    border-radius: 2px;
}

button:hover {
    cursor: pointer;
    background-color: #48AFF0;
}

button:active {
    background-color: #137CBD;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#welcome-screen {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

#welcome-screen .welcome-text-container h2 {
    text-transform: uppercase;
}

#welcome-screen .welcome-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#welcome-screen .welcome-text-container small {
    font-size: .85rem;
    color: #738694;
}

#welcome-screen a:link, a:visited, a:hover, a:active {
    color: #2B95D6;
    text-decoration: none;
}

#welcome-screen .header {
    font-size: 3rem;
    text-align: center;
}

#welcome-screen .new-game-options-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 9rem;
}

/* ShareLinkScreen */
#create-game-screen {
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

#join-game-screen {
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

#join-game-screen #my-code-input-container {
    display: none;
}

input[type=text] {
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 15px;
    width: 45rem;
    font-size: 2em;
    text-align: center;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
    background: #F5F8FA;
}
